.abhay{
    position: relative;
    position:relative;
    border: 5px solid rgb(37, 90, 70);
    padding: 2px;
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color:rgba(69, 175, 129, 0.937);
    }
    .abhay>img{
        border-radius:5%;
        height: 450px;
        width:550;
        border: 2px solid blanchedalmond;
        position: relative;
        left:0.5%;
    }
    .abhay1{
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        color: antiquewhite;
        position: relative;
    }
    .abhay p{
        float:right;
        position: relative;
        right:0%;
        font-size: larger;
        font-weight: bold;
        color:antiquewhite
    
    }
    .back{
        position: relative;
        display:grid;
        padding: 2px;
        background-color: rgba(171, 138, 7, 0.859);
        border:3px solid rgba(207, 164, 9, 0.923) ;  
        margin-top: 20px;
        top: 0%;
        text-align: center;
        height: 60px;
        width:120px;
        justify-content: center;
        align-items: center;
        left:45%;
        font-size:medium;
        font-weight: bolder;
        color: aliceblue;
     
    
    }
