.block{
    text-align: center;
    font-size:large;
    font-weight:bolder;
    color: aliceblue;
    display:block;
    block-size: auto;
    background-color: rgba(171, 138, 7, 0.859);
    border:3px solid rgba(207, 164, 9, 0.923) ;
    padding: 1px;
    position: absolute;
    left: 45%;
    width: auto;

}
.prakul{
    position:relative;
    border: 5px solid rgb(37, 90, 70);
    padding: 2px;
    margin-top: 20px;
    top: 150px;
    background-color:rgba(69, 175, 129, 0.937);
    }
.prakul>img{
    border-radius:5%;
    height: 450px;
    width:550;
    border: 2px solid blanchedalmond;
    position: relative;
    left:2%;

}
.prakul1{
     left: 3%;
     position: relative;
     text-align: center;
     font-size: xx-large;
     font-weight: bolder;
}
/* .p{
    position: relative;
    left: 41%;
} */
.prakul p{
    float:right;
    position: relative;
    right:23%;
    font-size: x-large;
    font-weight: bold;
    color:rgb(17, 1, 1);

}
.prakul .blocke p{
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border: 2px solid rgb(4, 103, 103);
    background-color: rgb(11, 147, 102);
    color: black;
    position: absolute;
    top:250px;
    right:28%;


}


.abhay{
    position:relative;
    border: 5px solid rgb(37, 90, 70);
    padding: 2px;
    background-color:rgba(69, 175, 129, 0.937);
    margin-top: 20px;
    top: 125px;
}
.abhay1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
    left: 3%;
}
.abhay>img{
    border-radius:5%;
    height: 650px;
    width:650PX;
    border: 2px solid blanchedalmond;
    position: relative;
    left: 2%;
}
.abhay p{
    float:right;
    position: relative;
    right:23%;
    font-size: x-large;
    font-weight: bold;
    color:rgb(17, 1, 1);

}
.abhay .blocki p{
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border: 2px solid rgb(4, 103, 103);
    background-color: rgb(11, 147, 102);
    color: black;
    position: absolute;
    top:250px;
    right:28%;
    width:auto;
}
.back{
    position:relative;
    display:grid;
    padding: 2px;
    background-color: rgba(171, 138, 7, 0.859);
    border:3px solid rgba(207, 164, 9, 0.923) ;  
    margin-top: 20px;
    top: 125px;
    text-align: center;
    height: 60px;
    width:120px;
    justify-content: center;
    left:45%;
    font-size:medium;
    font-weight: bolder;
    color: aliceblue;
    align-items: center;

}

